@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/ptsans.woff2") format("woff2"), url("../fonts/ptsans.woff") format("woff");
}
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../fonts/ptsansbold.woff2") format("woff2"), url("../fonts/ptsansbold.woff") format("woff");
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
img {
  max-width: 100%;
  height: auto;
}
.page {
  height: 100%;
  font-size: 14px;
  font-family: "PT Sans", sans-serif;
  line-height: 21px;
}
.page__body {
  min-height: 100%;
  margin: 0 auto;
  width: 320px;
}
@media (min-width: 768px) {
  .page__body {
    width: 768px;
  }
}
@media (min-width: 1200px) {
  .page__body {
    width: 1200px;
  }
}
.main-header {
  display: flex;
  flex-direction: column;
  color: #000000;
}
.main-header__logo {
  height: 56px;
}
.main-nav__list {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
.main-nav__list a {
  color: #000000;
}
@media (min-width: 768px) {
  .main-nav__list {
    display: flex;
    justify-content: space-between;
    width: 690px;
    margin: 0 auto;
  }
  .main-nav__toggle {
    display: none;
  }
}
@media (min-width: 1200px) {
  .main-nav__list {
    width: 1038px;
  }
}
.product {
  background-image: url("../img/back-index-mobile.jpg");
  background-size: auto;
  background-repeat: no-repeat;
  background-color: #314d59;
  background-position: absolute;
  padding: 90px 19px 85px 19px;
  margin: auto;
}
@media (min-width: 768px) {
  .product {
    background-image: url("../img/back-index-tablet.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #314d59;
    background-position: absolute;
    width: 460px;
    padding: 78px 154px 90px 154px;
    margin: auto;
  }
}
@media (min-width: 1200px) {
  .product {
    background-image: url("../img/back-index-desktop.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #314d59;
    width: 460px;
    padding: 78px 370px 90px 370px;
    margin: auto;
  }
}
.product img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.content {
  padding: 32px 18px 16px 18px;
  text-align: center;
  text-transform: uppercase;
  width: 284px;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .content {
    width: 520px;
  }
}
@media (min-width: 1200px) {
  .content {
    width: 484px;
  }
}
.content__slogan {
  margin: 0;
  padding: 0;
  margin-bottom: 35px;
}
.content__intro {
  margin: 0;
  padding: 0;
}
.advantages {
  text-align: center;
}
.advantages__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .advantages__list {
    display: flex;
    flex-wrap: wrap;
  }
}
@media (min-width: 1200px) {
  .advantages__list {
    display: flex;
    flex-wrap: wrap;
  }
}
.advantage {
  width: 284px;
  padding: 33px 18px 28px 18px;
}
@media (min-width: 768px) {
  .advantage {
    width: 190px;
    padding: 52px 33px;
  }
}
@media (min-width: 1200px) {
  .advantage {
    width: 300px;
    padding: 52px 50px;
  }
}
.advantage--blue {
  background-color: #81b3d2;
  color: hwb(0 100% 0%);
}
.advantage--blue:last-child {
  order: -1;
}
.advantage--dark {
  background-color: #eeeeee;
}
.advantage__title {
  padding: 0;
  margin: 0;
  margin-bottom: 11px;
}
.advantage__description {
  padding: 0;
  margin: 0;
  margin-top: 17px;
}
@media (min-width: 768px) {
  .advantage__panorama {
    display: flex;
    flex-wrap: wrap;
  }
}
@media (min-width: 1200px) {
  .advantage__panorama {
    display: flex;
    flex-wrap: wrap;
  }
}
.advantage__picture {
  height: 256px;
}
@media (min-width: 768px) {
  .advantage__picture {
    width: 512px;
    height: 256px;
  }
}
@media (min-width: 1200px) {
  .advantage__picture {
    width: 800px;
    height: 256px;
  }
}
.advantage__picture img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
@media (min-width: 768px) {
  .advantage__picture img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
@media (min-width: 1200px) {
  .advantage__picture img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
.service {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .service {
    display: flex;
  }
}
@media (min-width: 1200px) {
  .service {
    display: flex;
  }
}
.service__item {
  width: 284px;
  padding: 33px 18px 0 18px;
}
@media (max-width: 768px) {
  .service__item {
    display: flex;
  }
}
@media (min-width: 768px) {
  .service__item {
    width: 190px;
    padding: 60px 33px;
  }
}
@media (min-width: 1200px) {
  .service__item {
    width: 300px;
    padding: 69px 50px;
  }
}
@media (max-width: 768px) {
  .service__text {
    text-align: left;
    width: 237px;
  }
}
.service__title {
  margin: 0;
  padding: 0;
  margin-bottom: 16px;
}
.service__description {
  margin: 0;
  padding: 0;
}
.service__icon {
  margin: 0 auto;
}
@media (min-width: 768px) {
  .service__icon {
    width: 70px;
  }
}
@media (min-width: 1200px) {
  .service__icon {
    width: 80px;
  }
}
@media (min-width: 768px) {
  .service__icon img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
@media (min-width: 1200px) {
  .service__icon img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
.appointment {
  padding: 38px 18px 49px 18px;
  text-align: center;
  text-transform: uppercase;
}
.appointment__title {
  margin: 0;
  padding: 0;
}
.appointment__description {
  margin: 0;
  padding: 0;
  margin-bottom: 32px;
}
.appointment__wrapper {
  width: 284px;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .appointment__wrapper {
    width: 458px;
  }
}
@media (min-width: 1200px) {
  .appointment__wrapper {
    width: 458px;
  }
}
.map {
  margin: 0 auto;
}
.main-footer {
  padding: 28px 77px 23px 77px;
  text-align: center;
}
@media (min-width: 768px) {
  .main-footer__wrapper {
    display: flex;
    justify-content: space-between;
  }
}
.hashtag {
  text-transform: uppercase;
  margin-bottom: 34px;
  display: flex;
  align-items: center;
}
.hashtag__title {
  margin: 0;
  padding: 0;
}
.copyright {
  text-transform: uppercase;
}
.social {
  margin-bottom: 40px;
}
.social__list {
  margin: 0 auto;
  padding: 0;
  list-style-type: none;
  text-transform: uppercase;
  width: 156px;
  display: flex;
  justify-content: space-between;
}
.social__item {
  width: 48px;
  height: 48px;
  background-color: #81b3d2;
  display: flex;
  justify-content: center;
  align-items: center;
}
.headding {
  background-image: url("../img/back-catalog-mobile.jpg");
  background-size: auto;
  background-repeat: no-repeat;
  background-color: #314d59;
  padding: 52px 19px 67px 19px;
  display: flex;
  justify-content: center;
}
@media (min-width: 768px) {
  .headding {
    background-image: url("../img/back-catalog-tablet.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #314d59;
    padding: 95px 155px 117px 155px;
  }
}
@media (min-width: 1200px) {
  .headding {
    background-image: url("../img/back-catalog-desktop.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #314d59;
    padding: 100px 370px 120px 370px;
  }
}
.cover {
  padding: 37px 20px 25px 20px;
  text-align: center;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .cover {
    padding: 66px 55px;
  }
}
@media (min-width: 1200px) {
  .cover {
    padding: 100px 372px 65px 370px;
  }
}
.cover__slogan {
  margin: 0;
  padding: 0;
  margin-bottom: 35px;
}
.cover__intro {
  margin: 0;
  padding: 0;
}
.catalog {
  padding: 25px 20px;
}
@media (min-width: 768px) {
  .catalog {
    width: 648px;
    padding: 0 56px;
    display: flex;
    flex-wrap: wrap;
  }
}
@media (min-width: 1200px) {
  .catalog {
    width: 1200px;
    padding: 0;
  }
}
@media (min-width: 768px) {
  .card {
    width: 324px;
  }
}
@media (min-width: 1200px) {
  .card {
    position: relative;
    width: 400px;
  }
}
@media (min-width: 768px) {
  .card--line {
    width: 648px;
  }
}
@media (min-width: 1200px) {
  .card--line {
    width: 1200px;
  }
}
.card__photo {
  width: 280px;
  height: 280px;
}
@media (min-width: 768px) {
  .card__photo {
    width: 324px;
    height: 267px;
  }
}
@media (min-width: 1200px) {
  .card__photo {
    width: 400px;
    height: 267px;
  }
}
@media (min-width: 768px) {
  .card__photo--line {
    width: 648px;
    height: 400px;
  }
}
@media (min-width: 1200px) {
  .card__photo--line {
    width: 1200px;
    height: 400px;
  }
}
.card__photo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
@media (min-width: 768px) {
  .card__photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
@media (min-width: 1200px) {
  .card__photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
@media (min-width: 768px) {
  .card__panel {
    height: 80px;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: hsl(0, 0%, 92%);
  }
}
@media (min-width: 1200px) {
  .card__panel {
    width: 360px;
    position: absolute;
    top: 188px;
    background-color: #00000041;
    color: hsl(0, 0%, 100%);
  }
}
@media (min-width: 1200px) {
  .card__panel--line {
    width: 1160px;
    top: 320px;
  }
}
.card__text {
  height: 43px;
}
.card__title {
  margin: 0;
  padding: 0;
}
.card__description {
  margin: 0;
  padding: 0;
}
.card__grade {
  display: flex;
  align-items: center;
}
@media (max-width: 768px) {
  .card__grade {
    margin-bottom: 50px;
  }
}
.warning {
  padding: 17px 26px 28px 26px;
  text-align: center;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .warning {
    padding: 58px 162px 66px 162px;
  }
}
@media (min-width: 1200px) {
  .warning {
    padding: 62px 378px;
  }
}
.warning__title {
  margin: 0;
  padding: 0;
  margin-bottom: 39px;
}
.warning__description {
  margin: 0;
  padding: 0;
}
.video {
  padding: 0 20px;
}
.form {
  padding: 36px 20px 28px 20px;
  text-align: center;
  text-transform: uppercase;
}
.form__slogan {
  margin: 0;
  padding: 0;
  margin-bottom: 24px;
}
.form__intro {
  margin: 0;
  padding: 0;
}
.data {
  padding: 24px 20px;
}
@media (min-width: 768px) {
  .data {
    padding: 0 60px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}
@media (min-width: 1200px) {
  .data {
    padding: 0 120px;
  }
}
@media (min-width: 768px) {
  .fullname__wrapper {
    width: 290px;
  }
}
@media (min-width: 1200px) {
  .fullname__wrapper {
    width: 430px;
  }
}
.fullname__title {
  margin: 0;
  padding: 0;
}
.fullname__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
@media (min-width: 768px) {
  .contacts__wrapper {
    width: 290px;
  }
}
@media (min-width: 1200px) {
  .contacts__wrapper {
    width: 402px;
  }
}
.contacts__title {
  margin: 0;
  padding: 0;
}
.contacts__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .feeling {
    width: 648px;
  }
}
@media (min-width: 1200px) {
  .feeling {
    width: 960px;
  }
}
.feeling__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .benefits {
    width: 648px;
  }
}
@media (min-width: 1200px) {
  .benefits {
    width: 960px;
  }
}
.benefits__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .feedback {
    width: 648px;
  }
}
@media (min-width: 1200px) {
  .feedback {
    width: 960px;
  }
}
/*# sourceMappingURL=style.css.map */
